.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  border: 1px solid black;
  display: inline-flex;
  flex-direction: column;
  margin-top: 30px;
}

.row {
  display: inline-flex;
}

.start-button {
  margin: 20px;
}
